@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600&family=Poppins:wght@100;400&family=Work+Sans:wght@400;600;700;800&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.g7D807E {
  color: #7d807e;
}

.g3E8847 {
  color: #3e8847;
}

.g09270D {
  color: #09270d !important;
}

.gC0C0C0 {
  color: #c0c0c0;
}

.gD4D4D4 {
  color: #d4d4d4;
}

.gF5C771 {
  color: #f5c771;
}

.g727272 {
  color: #727272;
}

.gFFFFFF {
  color: #ffffff;
}

.g81AF75 {
  color: #81af75;
}

.gB0BAA3 {
  color: #b0baa3;
}

.gD0D6C9 {
  color: #d0d6c9;
}

.g4A4E1C {
  color: #4a4e1c;
}

.search {
  background-color: white;
}

.buy-plant {
  background-color: #09270d;
}

.slider {
  display: none;
}

.plant-collection img {
  width: 18rem;
}

.journey img {
  width: 19rem;
}

.journey-right button {
  background-color: #09270d;
}

.advantage img {
  width: 3rem;
  height: 3rem;
}

.advantage-text {
  background-color: #fcfbf8;
  border-radius: 15px;
}

.ask-right button {
  background-color: #09270d;
}

.ask-right form,
input {
  background-color: #faf9f7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.ask-right form {
  box-shadow: 0px 20px 43px 0px rgba(2, 22, 5, 0.11);
}

.ask-left img {
  opacity: 0;
  width: 5rem;
  height: 32rem;
}

.choosing img {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #3e8847;
}

.choosing {
  box-shadow: 0px 34px 50px -28px rgba(2, 22, 5, 0.1);
}

/* .choosing h4:hover, p:hover {
  background-color: #3E8847;
  color: #FFFFFF !important;
}
hover problem
*/

.choosing:hover {
  background-color: #3e8847;
}

.choosing h4:hover,
p:hover,
img:hover {
  color: #ffffff !important;
}

/* .choosing p:hover {
  color: #FFFFFF !important;
}

.choosing img:hover {
  background-color: #FFFFFF;
} */

.clients-talk {
  box-shadow: 0px 34px 55px -22px rgba(2, 22, 5, 0.09);
  border-radius: 15px;
}

.clients-talk:hover {
  background-color: #3e8847;
}

.clients-talk p:hover,
i:hover {
  color: #ffffff;
}

.clients {
  width: 100%;
}

.clients-icon-left,
.clients-icon-right {
  font-size: 3rem;
}

.clients-image {
  width: 10rem;
  height: 10rem;
}

.care-left button {
  background-color: #09270d;
}

.care-right img {
  width: 100%;
}

.footer {
  background-color: #09270d !important;
}

.nuvosa {
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .hero-left {
    z-index: 2;
  }

  .hero-middle {
    background-image: url(/image/hero-plant.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 10rem;
    background-position: center !important;
    width: 30rem;
    height: 20rem;
    z-index: 1;
  }

  .slider {
    display: inline;
    width: 10rem;
    margin-bottom: -3rem;
    margin-left: 12rem;
  }

  .hero-right {
    background-image: url(/image/hero-leaf.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 25rem;
    z-index: -1;
  }

  .journey img {
    width: 25rem;
  }

  .ask-left img {
    opacity: 1;
    display: block;
    width: 30rem;
    height: 28rem;
  }

  .ask-us form {
    height: 24rem;
    width: 25rem;
  }

  .ask-right {
    top: 2rem;
    right: 0rem;
  }

  .clients {
    position: relative;
    width: 100%;
  }

  .quote-right {
    bottom: 0.3rem;
    padding-left: 5rem;
  }

  .clients-image {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
  }

  .care-right img {
    width: calc(100vw / 2);
    height: calc(100vh / 2.2);
  }
}

@media (min-width: 1024px) {
  .hero-left {
    padding-top: 3rem;
  }

  .hero-heading {
    font-size: 3rem;
  }

  .hero-middle {
    background-size: cover;
    border-radius: 1rem;
    left: 15rem;
    width: 38rem;
    height: 25rem;
  }

  .slider {
    width: 14rem;
    margin-left: 18rem;
  }

  .hero-right {
    height: 31rem;
  }

  .journey img {
    width: 30rem;
  }

  .ask-left img {
    width: 36rem;
    height: 34rem;
  }

  .ask-us form {
    width: 32rem;
    height: 30rem;
  }

  .clients {
    width: 70%;
  }

  .quote-right {
    padding-left: 9rem;
  }

  .copy-right {
    margin-left: 2.5rem;
  }

  .footer-nuvosa {
    margin-left: 2rem;
  }
}

@media (min-width: 1440px) {
  .hero-left {
    padding-top: 4rem;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .hero-info {
    padding-top: 1.5rem;
  }

  .hero-middle {
    background-size: cover;
    border-radius: 1rem;
    left: 20rem;
    width: 55rem;
    height: 36rem;
  }

  .slider {
    width: 20rem;
    margin-bottom: -4rem;
    margin-left: 25rem;
  }

  .hero-right {
    width: 20rem;
    height: 43rem;
  }

  .plant-collection img {
    width: 22rem;
  }

  .journey img {
    width: 40rem;
  }

  .journey .journey-right {
    margin-right: 10rem !important;
  }

  .journey-right p {
    font-size: 1.3rem;
  }

  .advantage-heading {
    padding-left: 3rem;
  }

  .advantage img {
    width: 4rem;
    height: 4rem;
  }

  .advantage h6 {
    font-size: 1.5rem;
  }

  .advantage-text {
    font-size: 1.2rem;
  }

  .ask-left img {
    width: 49rem;
    height: 37rem;
  }

  .ask-us form {
    width: 45rem;
    height: 33rem;
  }

  .quote-right {
    padding-left: 37rem;
  }
  .care-left p {
    font-size: 1.2rem;
  }

  .copy-right {
    margin-left: 9.5rem;
  }

  .footer-nuvosa {
    margin-left: 8rem;
  }
}
